html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* 全局替换掉 Element-ui的对话框 */
.el-dialog__header {
  background: linear-gradient(to right, #00c6f9, #1495fb);
}
.el-dialog__title {
  color: white;
}
.el-dialog__headerbtn .el-dialog__close  {
  color: white;
}
